
<header class="single-header">
    <div>
        {{if isset .Params "img" }}
        {{- $img := index .Params "img" -}}
        <img src="{{- $img -}}" width="150">
        {{ end }}
    </div>
    <div class="flex">
        <h1>{{- .Title | safeHTML -}}</h1>
        <div class="post-meta">
            <time class="date">
                {{- $dateFormat := site.Params.dateFormat -}}
                {{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
                {{- $lastmodFormat := "" -}}
                {{- $lastmod := .Lastmod -}}
                {{- if $lastmod -}}
                {{- $lastmodFormat = $lastmod.Format $dateFormat -}}
                {{- end -}}
                {{- if .Date -}}
                    {{- $dateFormat := .Date.Format $dateFormat -}}
                    {{- $dateFormat -}}
                        {{- if and ($lastmod.After .Date) (ne $lastmodFormat $dateFormat) -}}
                        {{- printf (T "edited") $lastmodFormat -}}
                    {{- end -}}
                    {{- if or (eq .Params.readingTime true) (and (not (eq .Params.readingTime false)) (eq site.Params.readingTime true)) -}}
                    {{ T "readingTime" .ReadingTime }}
                    {{- end -}}
                {{- end -}}
            </time>
        </div>
        <div class="tag-container">
            {{- partial "note-labels.html" . -}}
        </div>
    </div>
</header>