<div class="container">
    <div class="lead">
        <div class="elevator">
            <h1>Hey, I'm {{ .Site.Params.author }}</h1>
            <p>I'm a full stack software developer creating
                 <a href="#" target="_blank" rel="noopener noreferrer">open source</a> projects and <a href="#">writing</a> about modern JavaScript, Node.js, and development.</p>
            <div class="social-buttons">
                <span>
                </span>
            </div>
        </div>
        <div class="newsletter-section">
            <img src="/static/profile-6dcf1bcb15b20f19ab9012ad69cab617.jpg" class="newsletter-avatar" alt="{{ .Site.Params.author }}">
            <div>
                <h3>Email Newsletter</h3>
                <p>I write tutorials. Get an update when something new comes out by signing up below!</p><a class="button" href="#">Subscribe</a>
            </div>
        </div>
    </div>
</div>