<div class="container">
    <div class="lead">
        <div class="elevator">
            <h1>Hey, I'm {{ .Site.Params.author }}</h1>
            <p>
                I am a student, I seek anything to learn and experience, in a world that isn't centered around, far-far away from my own corner, to the other, the unknown. What for? to find myself. 
            </p>
            <div class="social-buttons">
                <span>
                </span>
            </div>
        </div>
        <div class="newsletter-section">
            <img src="/img/hakam.jpg" class="newsletter-avatar" alt="{{ .Site.Params.author }}">
            <h3>Email Newsletter</h3>
            <p>
                I write notes here. Get an update when something new comes out by signing up below!
            </p>
            <a class="button" href="#">Subscribe</a>
        </div>
    </div>
</div>