<nav class="nav">
    <div class="nav-container">
        <div class="brand">
                <a href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="favicon" src="{{- $logo | relURL -}}" alt="{{- site.Title | safeHTML -}}"/>
                {{- end -}}
                <span class="text">{{- site.Title | safeHTML -}}</span></a>
        </div>
        <div class="links">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </div>
        <div class="cta">
            <button onclick="toggleTheme()" class="dark-switcher" aria-label="Toggle Dark Mode." title="Toggle Dark Mode">
                <img src="/img/moon.svg" class="theme-icon" alt="Dark Mode">
            </button>
           
        </div>
    </div>
</nav>