{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
    {{- if $nav.showCategories -}}
        <a href="{{- `/categories/` | relLangURL -}}">{{- T "Categories" -}}</a>
    {{- end -}}
    {{- if $nav.showTags -}}
    <a class="nav-link" href="{{- `/tags/` | relLangURL -}}">{{- T "Tags" -}}</a>
    {{- end -}}
    {{- if $nav.showAbout -}}
        <a href="{{- `/about/` | relLangURL -}}">{{- T "About" -}}</a>
    {{- end -}}
    {{- range $nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a href="{{- $url -}}" 
            {{- if strings.HasPrefix $url "http" -}}target="_blank"
            {{- end -}}>{{- .title -}}</a>
    {{- end -}}
{{- end -}}